html {
    font: 100% system-ui;
    background-color: #f2eee3;
}

.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }
   
.navigation {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 30px;
    background: #29471b;
    height: 60px;
    padding: 20px; 
}

.navigation a {
    text-decoration: none;
    color: white;
}

.navigation a:hover {
    color: #b0f2c2;
}

.navigation a:active {
    color: #3e8e41;
    text-shadow: 0 5px #666;
    transform: translateY(4px);
}

hr  {
    border: 2px solid black;
    border-radius: 5px;
}

.títulos {
    font-size: 170%;
    width: 75%;
}

.títulos a {
    text-decoration: none;
    color: black;
    width: 75%;
}

.títulos a:hover {
    color: #8A8070;
}

.títulos a:active {
    color: #8A8070;
    text-shadow: 0 5px #666;
    transform: translateY(4px);
}

* {
    box-sizing: border-box;
}

.column {
    padding-top: 1%;
    float: left;
    width: 100%;
    height: 100%;
}

.center{
    width: 35%;
}

.right {
    width: 35%;
}

.left {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.conj {
    padding-block: 2%;
}

.texto {
    text-align: justify;
    width: 80%;
    padding-left: 35%;
}

.sus {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: burlywood;
    width: 110%;
    padding: 30px;
    resize: vertical;
}

.text {
    text-align: justify;
    border: transparent;
    width: 75%;
}

.img {
    width: 75%;
    
}
.buttn {
    margin-left: 7.25%;
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    
}
.buttn:hover {background-color: #3e8e41}
.buttn:active {
    background-color: #3e8e41;
    transform: translateY(4px);
  }

.button {
    margin-left: 7.25%;
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
  
  .button:hover {background-color: #3e8e41}
  
  .button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }


.formulari a {
    text-decoration: none;
    color:black;
    text-align: justify;
    
}
footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    background: black;
    margin-top: 400px;
    }
    footer a {
        text-decoration: none;
        padding: 1em;
        color: white;

    }
    footer a:hover { 
        color: #b88533;
    }


*{box-sizing:border-box;}

form{
	width:300px;
	padding:16px;
	border-radius:10px;
    text-align: center;
	margin:auto;
	background-color:rgb(140, 180, 137);
}

form label{
	width:72px;
	font-weight:bold;
	display:inline-block;
}

form input[type="text"],
form input[type="email"]{
	width:180px;
	padding:3px 10px;
	border:1px solid #f6f6f6;
	border-radius:3px;
	background-color:#F2EEE1;
	margin:8px 0;
	display:inline-block;
    box-shadow: 0 3px rgb(114, 112, 94);
}

form input[type="submit"]{
	width:100%;
	padding:8px 16px;
	margin-top:32px;
	border:1px solid #000;
	border-radius:5px;
	display:block;
	color:#fff;
	background-color:#000;
    box-shadow: 0 3px rgb(114, 112, 94);
} 

form input[type="submit"]:hover{
	cursor:pointer;
    box-shadow: 4px;
}
form input:active {
    box-shadow: 0 3px rgb(218, 196, 148);
    transform: translateY(3px);
}

textarea{
	width:100%;
	height:100px;
	border:1px solid #f6f6f6;
	border-radius:3px;
	background-color:#F2EEE1;			
	margin:8px 0;
	resize:none;
	display:block;
    box-shadow: 0 3px rgb(114, 112, 94);
}
textarea:active {
    box-shadow: 0 3px rgb(218, 196, 148);
    transform: translateY(3px);
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: center;
    padding: 10px;
}
.receta{
    text-align: left;
}
tr:nth-child(even){background-color: #f2f2f2}
th {
    background-color: #29471b;
    color: white;
}
